.s1 {
	font-size: 3em;
	color: red;
	width: 20px;
	margin-left: 165px;
	margin-top: 85px;
}

.fonte {
	font-family: 'Dosis', sans-serif;
}

/* BOTÃO SAIR */
.span-sair {
    background-color: #DC143C;
    color: white;
	font-size: x-large;
    padding: 8px;
    text-transform: uppercase;
	border-radius: 8px;
}

#canto {
	width: 500px;
	height: 450px;
	margin-left: 1200px;
	margin-top: -225px
}

.renatinha {
	width: 80px;
	height: 50px;
	position: absolute;
	margin-top: -20px;
	margin-right: 20px;
	outline-color: #ffffff;
}

.navbar {
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #5ed4e3;
	margin-bottom: 60px;
	margin-top: 0;
	height: 60px;
	width: 1600px;
	max-width: 1600px;
}

.camponav {
	float: left;
}

.navbar a {
	font-size: 3vh;
	display: block;
	text-align: center;
	padding: 15px 20px;
	text-decoration: none;
	border-width: medium;
}

#aba1:hover,
#aba2:hover,
#aba3:hover {
	background-color: #E0FFFF;
}

#aba1,
#aba2,
#aba3 {
	color: #004AAD;
	background-color: #ffffff;
	border-radius: 80px 15px 15px 15px;
	padding-bottom: 0px;
	padding-right: 250px;
	padding-top: 0px;
	margin-top: 19px;
}

#aba1 {
	margin-right: 50px;
}

#aba2 {
	margin-left: -130px;
	color: #ff6ed0;
	margin-right: 800px;
}

#aba3 {
	margin-left: 815px;
	margin-top: -38px;

}

#ctexto {
	text-align: center;

}

#distancia {
	margin-top: 100px;
}


.letra {
	margin-top: -50px;
	margin-left: 180px;
	font-size: 30px;
	color: gray;
}

.campos {
	text-align: center;
	border-width: 2px;
	border-color: #004AAD;
	background-color: #5ed4e3;
	border-radius: 70px;
	outline-color: #004AAD;
	width: 330px;
	height: 70px;
}

.distancia3 {
	margin-left: 1025px;
}

.distancia2 {
	margin-top: 5px;
}

.distancia {
	margin-top: 30px;
}

.letrat {
	font-size: 1.5em;
}

textarea {
	font-size: 1.7em;
	position: absolute;
	outline-color: #ffffff;
	width: 700px;
	height: 500px;
	border: 8px solid #5ed4e3;
	margin-left: 180px;
	margin-top: 10px;
	border-image: linear-gradient(90deg, #5ed4e3, #004AAD 100%)1;
}

/****config do madal****/

.fa-solid, .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 400;
    display: table;
    margin-left: -1px;
    margin-top: 21px;

    }

.fa-brands, .fab {
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
    margin-top: 30px;
}

.checkbox{
  opacity: 0;
  position: absolute;
}

.checkbox2{
  opacity: 0;
  position: absolute;
}

.label2{
  background-color: #808080;
  border-radius: 50px;
  cursor: pointer;
  margin-top: -39px;
   margin-left: 234px;
  display: flex;
  align-items: center;

  padding: 5;
  position: relative;
  height: 26px;
  width: 50px;


}

.label{
  background-color: #808080;
  border-radius: 50px;
  cursor: pointer;
  margin-top: -39px;
   margin-left: 234px;
  display: flex;
  align-items: center;

  padding: 5;
  position: absolute;
  height: 26px;
  width: 50px;


}
ul.dark{
	background: #232c35;
}

body.dark{
  background: #232c35;
  color: gray;

}
#textarea.dark{
	font-size: 21px;
	border-radius: 50px;
	border-style: none;
	padding: 30px;

}


#select2.ampli{
	font-size: 21px;
}

#select1.ampli{
	font-size: 21px;
}

#select1.dark{
	background:gray;
	color: white;
	border-color: white;
}

#select2.dark{
	background: gray;
	color: white;
	border-color: white;
}


.label .bola{
  background-color: #5ed4e3;
  border-radius: 50%;

  top: 2px;
  left: 2px;

  height: 22px;
  width: 22px;

  transform: translate(0px);
  transition: transform
  0.2s linear;
}

.label2 .bola2{
  background-color: #5ed4e3;
  border-radius: 50%;

  top: 2px;
  left: 2px;

  height: 22px;
  width: 22px;

  transform: translate(0px);
  transition: transform
  0.2s linear;
}
.checkbox2:checked + .label2 .bola2{
  transform: translate(24px);
}

.checkbox:checked + .label .bola{
  transform: translate(24px);
}

#ampliar{
margin-right:615px;
}

#escuro{
margin-right:615px;
}

#Aparencia{
	margin-top: -36px;
    margin-left: 28px;
}


.container {
	position: relative;
	width: 50%;
	animation-name: example;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	float: right;
	margin-right: -580px;
	margin-top: -80px;
	z-index: 9999;
}

#image {
	display: block;
	width: 150px;
	height: 150px;
	margin-top: 152px;
}

.container:hover .overlay {
	height: 100px;
}

.text {
	white-space: nowrap;
	color: white;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 50px;
	left: 50px;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}



@keyframes example {
	from {
		top: 0px;
	}

	to {
		top: 200px;
	}
}

.w3-container {
	border-style: none;
	font-size: 25px;

}

.city {
	display: none
}

,

/*********responsividade 1920*********/

@media (max-width: 1920px && min-width: 1600px) {
	.renatinha {
		width: 100px;
		height: 65px;
		position: absolute;
		margin-top: -25px;
		margin-right: 20px;
	}
}

@media (max-width: 1920px && min-width: 1600px) {
	.navbar {
		margin-bottom: 60px;
		margin-top: 0;
		height: 60px;
		width: 2500px;
		max-width: 2500px;
	}
}

@media (max-width: 1920px && min-width: 1600px) {
	.camponav {
		float: left;
	}
}

@media (max-width: 1920px && min-width: 1600px) {

	#aba1,
	#aba2 {
		margin-top: -15px;
		margin-bottom: -30px;
	}
}

@media (max-width: 1920px && min-width: 1600px) {
	#aba3 {
		margin-top: -45px;
		margin-bottom: -30px;
		margin-left: 900px;
	}
}

@media (max-width: 1920px && min-width: 1600px) {
	#aba1 {
		margin-left: 0px;
	}
}

@media (max-width: 1920px && min-width: 1600px) {
	#aba2 {
		margin-left: -130px;
		margin-right: 1635px;
	}
}

@media (max-width: 1920px && min-width: 1600px) {
	#distancia {
		margin-top: 150px;
	}
}

@media (max-width: 1920px && min-width: 1600px) {
	.campos2 {
		width: 600px;
		margin-right: -230px;
		font-size: 25px;
	}
}

@media (max-width: 1920px && min-width: 1600px) {
	.campos {
		width: 660px;
		margin-bottom: 10px;
		margin-left: 80px;
		margin-right: 125px;
		font-size: 25px;
	}
}

@media (max-width: 1920px && min-width: 1600px) {
	.radio {
		margin-right: -940px;
		font-size: 20px;
	}
}

@media (max-width: 1920px && min-width: 1600px) {
	.rd {
		margin-left: 960px;
	}
}

@media (max-width: 1920px && min-width: 1600px) {
	.na {
		margin-right: 0px;
	}
}

@media (max-width: 1920px && min-width: 1600px) {
	#numerores {
		width: 330px;
		font-size: 25px;
	}
}

@media (max-width: 1920px && min-width: 1600px) {
	.idade {
		margin-left: 80px;
		margin-top: 90px;
	}
}

@media (max-width: 1920px && min-width: 1600px) {
	.cidade {
		margin-left: 80px;
		margin-top: 90px;
	}
}

@media (max-width: 1920px && min-width: 1600px) {
	.nome2 {
		margin-right: 0px;
	}
}

@media (max-width: 1920px && min-width: 1600px) {
	.letrah4 {
		margin-left: 80PX;
		margin-top: 40px;
		font-size: 40px;

	}
}

@media (max-width: 1920px && min-width: 1600px) {
	.letrah2 {
		margin-right: 200px;
		margin-top: 30px;
		font-size: 50px;
	}
}

@media (max-width: 1920px && min-width: 1600px) {
	.letrah3 {
		margin-top: -50px;
		margin-left: 960px;
		font-size: 25px;
	}
}

@media (max-width: 1920px && min-width: 1600px) {
	textarea {
		width: 950px;
		height: 400px;
		margin-left: 80px;
		font-size: 25px;
	}
}

@media (max-width: 1920px && min-width: 1600px) {
	#canto {
		width: 800px;
		height: 700px;
		margin-left: 1700px;
		margin-top: -450px;
	}
}

@media (max-width: 1920px && min-width: 1600px) {
	#image {
		display: block;
		width: 300px;
		height: 300px;
		margin-top: 122px;
		margin-left: 575px;
	}
}

/*********responsividade 1366*********/

@media (max-width: 1366px) {
	.renatinha {
		width: 80px;
		height: 50px;
		position: absolute;
		margin-top: -15px;
		margin-right: 20px;
	}
}

@media (max-width: 1366px) {
	.navbar {
		margin-bottom: 60px;
		margin-top: 0;
		height: 60px;
		width: 1945px;
		max-width: 2000px;
	}
}

@media (max-width: 1366px) {
	.camponav {
		float: left;
	}
}

@media (max-width: 1366px) {

	#aba2,
	#aba1 {
		margin-top: 0px;
		margin-bottom: -30px;
	}
}

@media (max-width: 1366px) {
	#aba1 {
		margin-left: 0px;
	}
}

@media (max-width: 1366px) {
	#aba2 {
		margin-left: -130px;
		margin-right: 1145px;
	}
}

@media (max-width: 1920px) {
	#aba3 {
		margin-top: -32px;
		margin-bottom: -30px;
		margin-left: 815px;
	}
}

@media (max-width: 1366px) {
	#distancia {
		margin-top: 120px;
	}
}

@media (max-width: 1366px) {
	.campos {
		width: 390px;
		height: 90px;
		margin-bottom: 10px;
		margin-left: 1200px;
		margin-right: 50px;
		margin-top: 45px;
	}
}

@media (max-width: 1366px) {
	.letra {
		margin-left: 180px;
		margin-top: -50px;
	}
}

@media (max-width: 1366px) {
	textarea {
		width: 800px;
		height: 650px;
		margin-left: 180px;
	}
}

@media (max-width: 1366px) {
	#canto {
		width: 580px;
		height: 500px;
		margin-left: 1367px;
		margin-top: -270px;
	}
}

@media (max-width: 1366px) {
	#image {
		display: block;
		width: 200px;
		height: 200px;
		margin-top: 287px;
		margin-left: 375px;
	}
}

/*********responsividade 1280*********/

@media (max-width: 1280px) {
	.renatinha {
		width: 80px;
		height: 50px;
		position: absolute;
		margin-top: -15px;
		margin-right: 20px;
	}
}

@media (max-width: 1280px) {
	.navbar {
		margin-bottom: 60px;
		margin-top: 0;
		height: 60px;
		width: 2000px;
		max-width: 2000px;
	}
}

@media (max-width: 1280px) {
	.camponav {
		float: left;
	}
}

@media (max-width: 1280px) {

	#aba2,
	#aba {
		margin-top: 0px;
		margin-bottom: -30px;
	}
}

@media (max-width: 1280px) {
	#aba {
		margin-left: 50px;
	}
}

@media (max-width: 1280px) {
	#aba2 {
		margin-left: -130px;
		margin-right: 1205px;
	}
}

@media (max-width: 1280px) {
	#distancia {
		margin-top: 130px;
	}
}


@media (max-width: 1280px) {
	.campos {
		width: 390px;
		height: 90px;
		margin-bottom: 10px;
		margin-left: 1200px;
		margin-right: 50px;
		margin-top: 45px;
	}

	@media (max-width: 1280px) {
		.letra {
			margin-left: 190px;
		}
	}

	@media (max-width: 1280px) {
		textarea {
			width: 800px;
			height: 650px;
			margin-left: 190px;
		}
	}

	@media (max-width: 1280px) {
		#canto {
			width: 580px;
			height: 502px;
			margin-left: 1420px;
			margin-top: -270px;
		}
	}

	@media (max-width: 1280px) {
		#image {
			display: block;
			width: 200px;
			height: 200px;
			margin-top: 315px;
			margin-left: 450px;
		}
	}

	/*********responsividade 1024*********/

	@media (max-width: 1024px) {
		.renatinha {
			width: 80px;
			height: 50px;
			position: absolute;
			margin-top: -15px;
			margin-right: 20px;
		}
	}

	@media (max-width: 1024px) {
		.navbar {
			margin-bottom: 60px;
			margin-top: 0;
			height: 60px;
			width: 2270px;
			max-width: 3000px;
		}
	}

	@media (max-width: 1024px) {
		.camponav {
			float: left;
		}
	}

	@media (max-width: 1024px) {

		#aba2,
		#aba {
			margin-top: 0px;
			margin-bottom: -30px;
		}
	}

	@media (max-width: 1024px) {
		#aba {
			margin-left: 50px;
		}
	}

	@media (max-width: 1024px) {
		#aba2 {
			margin-left: -130px;
			margin-right: 1470px;
		}
	}

	@media (max-width: 1024px) {
		#distancia {
			margin-top: 160px;
		}
	}

	@media (max-width: 1024px) {
		textarea {
			width: 900px;
			height: 850px;
			margin-left: 290px;
		}
	}

	@media (max-width: 1024px) {
		.s1 {
			margin-top: 170px;
			margin-left: 270px;
		}
	}


	@media (max-width: 1024px) {
		.campos {
			width: 450px;
			height: 100px;
			margin-bottom: 10px;
			margin-left: 1441px;
			margin-right: 76px;
			margin-top: 70px;
		}
	}

	@media (max-width: 1024px) {
		.letra {
			margin-top: -50px;
			margin-left: 290px;
		}
	}

	@media (max-width: 1024px) {
		#canto {
			width: 580px;
			height: 500px;
			margin-left: 1690px;
			margin-top: 590px;
		}

		@media (max-width: 1024px) {
			#image {
				display: block;
				width: 200px;
				height: 200px;
				margin-top: 735px;
				margin-left: 820px;
			}
		}
	}
}
