#body-entrar {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

#body-cadastrar {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#h1-entrar {
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.795);
}

#h1-cadastrar {
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.795);
}

.seta, .logo-entrar {
    margin-left: 10px;
    margin-top: 40px;
}

.seta {
    padding-left: 50px;
}

.logo-entrar {
    height: 400px;
    width: 400px;
    position: absolute;
    bottom: 0;
    right: 30px;
    opacity: 0.2;
}

.form-cadastrar, .form-entrar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#form-cadastrar, #form-entrar {
    margin-top: 8%;
    height: 400px;
    width: 400px;
    padding: 10px;
    text-align: center;
}

#form-entrar {
    margin-top: 20% !important;
}

label {
    width: 100%;
}

.input-entrar, .input-cadastrar, .submit-entrar, .submit-cadastrar {
    font-size: large;
    width: 300px;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid rgb(189, 186, 252);
    text-transform: uppercase;
    display: block;
}

.submit-entrar, .submit-cadastrar {
    width: 300px;
    background-color: rgb(115, 136, 255);
    color: aliceblue;
    font-weight: bold;
    margin-bottom: 80px;
}

/* BOTÃO SAIR */
.span-sair {
    background-color: #DC143C;
    color: white;
	font-size: x-large;
    padding: 8px;
    text-transform: uppercase;
	border-radius: 8px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

/* ---------------------- PÁGINA DE LOGIN (ENTRAR) ------------------------- */

.card-body {
    border: 1px solid #42f4bd;
    border-radius: 10px;
}

input[type="number"],
input[type="password"] {
    border:  2px solid #42f4bd !important;
    border-radius: 10px;
    margin-bottom: 25px;
}

input[type="number"]:focus,
input[type="password"]:focus {
    outline: none;
    border: none;
    margin: 0;
} 

.btn {
    background-color: #42f4bd !important;
    text-transform: uppercase;
    font-weight: 500;
}

/* ---------------------- .PÁGINA DE LOGIN (ENTRAR) ------------------------- */


/* ---------------------- ADMIN ------------------------- */

