@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

body {
    margin: 0;
}

/* ESTILIZAÇÃO DOS CRUDS */

.navbar-expand {
    font-size: medium;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

/* botão de sair */
.btn-outline-danger {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.btn-outline-danger:hover {
    box-shadow: 0 0 40px 40px #dc3545 inset;
}

/* botões de opções */
.btn-dark, .btn-danger {
    width: 130px;
    font-family: 'Poppins', sans-serif;
}

/* visualizar */
.btn-dark {
    background-image: -webkit-linear-gradient(45deg, #0d0e0e  50%, transparent 50%);
    background-image: linear-gradient(45deg, #0d0e0e  50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out;
}

/* deletar */
.btn-danger {
    background-image: -webkit-linear-gradient(45deg, #d80528  50%, transparent 50%);
    background-image: linear-gradient(45deg, #d80528  50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out;
}

.btn-danger:hover, .btn-dark:hover {
    background-position: 0;
}

.h1-crud {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.dropdown-item:active {
    background-color: rgb(56, 56, 58);
    color: white;
}

@media (max-width: 1000px) {
    .div-table {
        overflow-x: scroll;
    }
    .btn-dark, .btn-danger {
        margin-bottom: 5px;
    }
}

table {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

td {
    text-transform: capitalize;
    border-left: 2px solid white;
}

.td-tabela:hover {
    background-color: rgb(56, 56, 58);
    border-left: 2px solid white;
    color: white;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}