@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#body-index {
    background-image: linear-gradient(to right, #42f4bd, #2f0058);
}

#image{
    bottom: 0px;
}

/* ESTILIZAÇÃO DO LOGIN */
.card-body {
    border: 1px solid #42f4bd;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.inputs-login {
    border-color: #42f4bc79;
}

.btn-login {
    width: 130px;
    background-color: #42f4bd;
    border-color: #42f4bd;
    color: white;
    font-weight: 600;
}

.btn-login:hover {
    color: white;
    background-image: -webkit-linear-gradient(45deg, #2f0058  50%, transparent 50%);
    background-image: linear-gradient(45deg, #2f0058  50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out;
}

.btn-login {
    color: white;
    background-position: 0;
}


/* ESTILIZAÇÃO DOS CRUDS */
.navbar-expand {
    font-size: medium;
    font-weight: 500;
}

/* botão de sair */
.btn-outline-danger {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.btn-outline-danger:hover {
    box-shadow: 0 0 40px 40px #dc3545 inset;
}

/* botões de opções */
.btn-dark, .btn-danger {
    width: 130px;
    font-family: 'Poppins', sans-serif;
}

/* visualizar */
.btn-dark {
    background-image: -webkit-linear-gradient(45deg, #0d0e0e  50%, transparent 50%);
    background-image: linear-gradient(45deg, #0d0e0e  50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out;
}

/* deletar */
.btn-danger {
    background-image: -webkit-linear-gradient(45deg, #d80528  50%, transparent 50%);
    background-image: linear-gradient(45deg, #d80528  50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out;
}

.btn-danger:hover, .btn-dark:hover {
    background-position: 0;
}

.h1-titulo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.dropdown-item:active {
    background-color: rgb(56, 56, 58);
    color: white;
}

@media (max-width: 1000px) {
    .div-table {
        overflow-x: scroll;
    }
    .btn-dark, .btn-danger, .btn-ocorrencia {
        margin-bottom: 5px;
    }
}

table {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

td {
    text-transform: capitalize;
    border-left: 2px solid white;
}

.td-tabela:hover {
    background-color: rgb(56, 56, 58);
    border-left: 2px solid white;
    color: white;
}

.td-tabela_ocorrencia:hover {
    background-color: rgba(110, 110, 236, 0.308);
    border-left: 2px solid white;
    color: black;
}


/* ESTILIZAÇÃO DA ABA DO ATENDENTE */
.tab_navigation{
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 0, 15, 15, 0;
}

.navAbas{
    height: 20px;
}

.tab_navigation li{
    display: inline-block;
    padding: 5px 15px;
    background: rgb(255, 255, 255);
    min-width: 100px;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 80px 15px 0px 0px;
    cursor: pointer;
    transition: all 0.3 ease-in-out;
    height: 36px;
    width: 210px;
}

.tab_navigation li.active, .tab_navigation li:hover{
    background: #f249d6;
    color: #fff;
}

.tab_container{
    padding: 10px;
    background: #fff;
    color: #000;
    border-radius: 0 5px 5px 5px;
    display: none;
}

#img-axolote {
    margin-bottom: -10px;
    margin-right: 10px;
}

input{
    text-align: left !important;
}

.titulos{
    font-size: 18px;
}

/* ESTILIZAÇÃO DA TELA DE OCORRENCIAS */
.btn-ocorrencia {
    width: 130px;
}

.navbar-ocorrencia, .btn-ocorrencia {
    background-color: #2f0058 ;
}

.btn-ocorrencia:hover {
    color: white;
    background-image: -webkit-linear-gradient(45deg, #1f0138  50%, transparent 50%);
    background-image: linear-gradient(45deg, #1f0138  50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 600ms ease-in-out;
    transition: background 600ms ease-in-out;
}

.btn-login {
    color: white;
    background-position: 0;
}


/* ESTILIZAÇÃO GERAL */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* MODAL ESCURO E AMPLIADO */

.amplia_escurece{
    font-size: 40px;
}

#Aparencia{
    margin-top: -36px;
    margin-left: 28px;
}

ul.dark{
	background: #232c35;
}

body.dark{
  background: #232c35;
  color: gray;
}

/* a */

#tituloEnde.dark,
#tituloNomes.dark,
#tituloComs.dark{
    color: gray;
}
#selectUm.dark,
#selectDois.dark{
    background: gray;
}

#abaUm.dark,
#abaDois.dark{
    background: #24272a;
}
#botaoCad.dark{
    background: #3b3f44;
}
#tituloEnde.ampli,
#tituloNomes.ampli,
#tituloComs.ampli{
    font-size: 30px;
}
#selectUm.ampli,
#selectDois.ampli{
    font-size: 20px;
}
#botaoCad.ampli{
    font-size: 20px;
}
#tituloEnde.dark.ampli,
#tituloNomes.dark.ampli,
#tituloComs.dark.ampli{
    color: gray;
    font-size: 30px;
}
#selectUm.dark.ampli,
#selectDois.dark.ampli{
    background: gray;
    font-size: 20px;
}
#botaoCad.dark.ampli{
    background: #3b3f44;
    font-size: 20px;
}

/* b */

#nomeCompleto:focus::placeholder,
#nomeSocorrido:focus::placeholder,
#faixaEtaria:focus::placeholder,
#coms:focus::placeholder,
#descBasica:focus::placeholder,
#cidadeLocal:focus::placeholder,
#bairroLocal:focus::placeholder,
#ruaLocal:focus::placeholder,
#numeroLocal:focus::placeholder{
	font-size: 0.9em;
}
#nomeCompleto.dark,
#nomeSocorrido.dark,
#faixaEtaria.dark,
#coms.dark,
#descBasica.dark,
#cidadeLocal.dark, 
#bairroLocal.dark,
#ruaLocal.dark,
#numeroLocal.dark{
    color: gray;
    background: #3b3f44;
}
#nomeCompleto.dark:focus::placeholder,
#nomeSocorrido.dark:focus::placeholder,
#faixaEtaria.dark:focus::placeholder,
#coms.dark:focus::placeholder,
#descBasica.dark:focus::placeholder,
#cidadeLocal.dark:focus::placeholder,
#bairroLocal.dark:focus::placeholder,
#ruaLocal.dark:focus::placeholder,
#numeroLocal.dark:focus::placeholder{
	font-size: 0.9em;
    color: gray;
}
#nomeCompleto.ampli, 
#ruaLocal.ampli,
#bairroLocal.ampli,
#nomeSocorrido.ampli,
#faixaEtaria.ampli,
#coms.ampli,
#ruaLocal.ampli,
#bairroLocal.ampli,
#cidadeLocal.ampli,
#numeroLocal.ampli,
#descBasica.ampli{
	font-size: 21px;
}
#nomeCompleto.dark.ampli, 
#ruaLocal.dark.ampli,
#bairroLocal.dark.ampli,
#nomeSocorrido.dark.ampli,
#faixaEtaria.dark.ampli,
#coms.dark.ampli,
#ruaLocal.dark.ampli,
#bairroLocal.dark.ampli,
#cidadeLocal.dark.ampli,
#numeroLocal.dark.ampli,
#descBasica.dark.ampli{
	font-size: 21px;
    color: gray;
}
#nomeCompleto.dark.ampli:focus::placeholder, 
#ruaLocal.dark.ampli:focus::placeholder,
#bairroLocal.dark.ampli:focus::placeholder,
#nomeSocorrido.dark.ampli:focus::placeholder,
#faixaEtaria.dark.ampli:focus::placeholder,
#coms.dark.ampli:focus::placeholder,
#ruaLocal.dark.ampli:focus::placeholder,
#bairroLocal.dark.ampli:focus::placeholder,
#cidadeLocal.dark.ampli:focus::placeholder,
#numeroLocal.dark.ampli:focus::placeholder,
#descBasica.dark.ampli:focus::placeholder{
    font-size: 16px;
    color: gray;
}

/* FIM MODAL ESCURO AMPLIADO */

/* MAPA */

.map {
    max-width: 100vW;
    max-height: 700px;
    min-height: 600px;
    border-radius: 4px;
}

.div-nivel {
    padding: 30px;
}

/* FIM MAPA */