.renatinha {
	width: 80px;
	height: 50px;
	position: absolute;
	margin-top: -21px;
	margin-right: 20px;
	outline-color: #ffffff;
}

.navbar {
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #70eec2;
	margin-bottom: 60px;
	margin-top: 0;
	height: 60px;
	width: 1600px;
	max-width: 1600px;
}

.camponav {
	float: left;
}

.navbar a {
	font-size: 3vh;
	display: block;
	text-align: center;
	padding: 15px 20px;
	text-decoration: none;
	border-width: medium;
}

#aba1:hover,
#aba2:hover {
	background-color: #7FFFD4;
}

#aba1,
#aba2 {
	color: #008037;
	background-color: #ffffff;
	border-radius: 80px 15px 15px 15px;
	padding-bottom: 0px;
	padding-right: 250px;
	padding-top: 0px;
	margin-top: -10px;
	margin-bottom: -30px;
}

#aba1 {
	margin-right: 50px;
}

#aba2 {
	margin-left: -130px;
	color: #ff6ed0;
	margin-right: 800px;
}

#canto {
	width: 500px;
	height: 450px;
	margin-left: 1200px;
	margin-top: -225px;
}

.fonte {
	font-family: 'Dosis', sans-serif;
}

.distancia3 {
	margin-left: 1100px;
}

.distancia2 {
	margin-top: 170px;
}

.distancia {
	margin-top: 30px;
}

.campos {
	text-align: center;
	border-width: 2px;
	border-color: #008037;
	background-color: #70eec2;
	border-radius: 70px;
	outline-color: #008037;
	width: 330px;
	height: 70px;
}

/****config do madal****/

.w3-modal {
	z-index: 9999;
}

.container {
	position: relative;
	width: 50%;
	animation-name: example;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	float: right;
	margin-right: -580px;
	margin-top: -80px;
	z-index: 9999;
}

#image {
	display: block;
	width: 150px;
	height: 150px;
	margin-top: 150px;
	z-index: 9999;

}

.text {
	white-space: nowrap;
	color: white;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 50px;
	left: 50px;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	z-index: 9999;
}

@keyframes example {
	from {
		top: 0px;
	}

	to {
		top: 200px;
	}
}

.w3-container {
	border-style: none;
	font-size: 25px;
	z-index: 9999;
}

.city {
	display: none;
	z-index: 9999;
}

.w3-container city {
	z-index: 9999;
}


body {
	background-color: #fafafa;
	transition: background 0.2s linear;

}

ul.dark {
	background: #232c35;
}

body.dark {
	background: #232c35;
	color: gray;

}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #808080;
	border-radius: 50px;
	cursor: pointer;
	margin-top: -39px;
	margin-left: 234px;
	display: flex;
	align-items: center;

	padding: 5;
	position: relative;
	height: 26px;
	width: 50px;

	transform: scale(1.5);
}

.label .bola {
	background-color: #70eec2;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;

	height: 22px;
	width: 22px;

	transform: translate(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked+.label .bola {
	transform: translate(24px);
}

/*********tabela*********/


.distancia4 {
	margin-left: 220px
}

.customers {
	border-radius: 50px;
	background-color: #04AA6D;
	border-color: #04AA6D;
	width: 35%;
	border-style: solid;
	border-width: 20px;
	position: absolute;
	display: inline;
}

#qntd {
	background-color: #70eec2;
	width: 241px;
	color: green;
	height: 54px;
	font-size: 18px;
	margin-top: -637px;
	margin-left: 152px;
	border-radius: 50px;
	text-align: center;
	position: absolute;
	z-index: 99;
	border-style: solid;
	border-color: #ffffff;
}

#qtd {
	margin-top: 12px;
}

.customers .amb {
	border: 1px solid;
	border-color: white white green white;
	padding: 5px;
	position: relative;
}


.customers .amb {
	background-color: #ffffff;
	border-color: white white green white;
	padding: 5px;
	text-align: center;
	padding-right: 332px;
	padding-left: 336px;
}

.customers .camp:nth-child(even) {
	background-color: #f2f2f2;
}

.customers .amb:hover {
	background-color: #ddd;
}

#cabecalho {
	padding-top: 4px;
	padding-bottom: 1px;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 2em;
	text-align: center;
	color: green;
	border-radius: 50px;
	background-color: white;
	display: inline;
	margin-left: 224px;
}

#branco {
	height: 285px;
	width: 550px;
	background-color: white;
	z-index: 9854;
	position: absolute;
	margin-top: 93px;
	margin-left: 5px;
	border-radius: 43px;
}

.borda {
	background-color: #ffffff;
	z-index: 99999;
	position: absolute;
	margin-left: 128px;
	margin-top: 17px;
	height: 62px;
	width: 305px;
	padding-top: 0px;
	border-radius: 50px;
}

#ambulancia {
	color: green;
	font-size: 30px;
	text-align: center;
	margin-top: 10px;
}

#tabela {
	margin-top: -673px;
	margin-left: 150px;
	overflow-y: scroll;
}

#tabela::-webkit-scrollbar {
	width: 10px;
	z-index: 9999px;
}

#tabela::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	z-index: 9999px;
}

::-webkit-scrollbar {
	width: 10px;
	z-index: 9999px;
}


::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
	z-index: 9999px;
}


::-webkit-scrollbar-thumb {
	background: #70eec2;
	border-radius: 10px;
	z-index: 9999px;
}

::-webkit-scrollbar-thumb:hover {
	background: #70eec2;
	z-index: 9999px;
}

.customers {

	width: 776px;

	height: 380px;

	border: 20px dotted #04aa6d;

	overflow-y: scroll;

	margin-top: 58px;

	margin-left: -256px;
}

/*********darktheme*********/

.customers.dark {
	background-color: gray;
	border-color: gray;

}

#qntd.dark {
	background-color: gray;
	color: white;
}

#cabecalho.dark {
	color: gray;
}

#select1.dark {
	background: gray;
	color: white;
	border-color: white;
}

#select2.dark {
	background: gray;
	color: white;
	border-color: white;
}

/*********responsividade 1366*********/

@media (max-width: 1366px) {
	.renatinha {
		width: 80px;
		height: 50px;
		position: absolute;
		margin-top: -21px;
		margin-right: 20px;
	}
}

@media (max-width: 1366px) {
	.navbar {
		margin-bottom: 60px;
		margin-top: 0;
		height: 60px;
		width: 1945px;
		max-width: 2000px;
	}
}

@media (max-width: 1366px) {
	.camponav {
		float: left;
	}
}

@media (max-width: 1366px) {

	#aba2,
	#aba {
		margin-top: -10px;
		margin-bottom: -30px;
	}
}

@media (max-width: 1366px) {
	#aba {
		margin-left: 50px;
	}
}

@media (max-width: 1366px) {
	#aba2 {
		margin-left: -130px;
		margin-right: 1145px;
	}
}

@media (max-width: 1366px) {
	#canto {
		width: 580px;
		height: 502px;
		margin-left: 1367px;
		margin-top: -270px;
	}
}

@media (max-width: 1366px) {
	#image {
		display: block;
		width: 200px;
		height: 200px;
		margin-top: 125px;
		margin-left: 385px;
	}
}

/*********responsividade 1280*********/

@media (max-width: 1280px) {
	.renatinha {
		width: 80px;
		height: 50px;
		position: absolute;
		margin-top: -21px;
		margin-right: 20px;
	}
}

@media (max-width: 1280px) {
	.navbar {
		margin-bottom: 60px;
		margin-top: 0;
		height: 60px;
		width: 2000px;
		max-width: 2000px;
	}
}

@media (max-width: 1280px) {
	.camponav {
		float: left;
	}
}

@media (max-width: 1280px) {

	#aba2,
	#aba {
		margin-top: -10px;
		margin-bottom: -30px;
	}
}

@media (max-width: 1280px) {
	#aba {
		margin-left: 50px;
	}
}

@media (max-width: 1280px) {
	#aba2 {
		margin-left: -130px;
		margin-right: 1200px;
	}
}

@media (max-width: 1280px) {
	#canto {
		width: 580px;
		height: 500px;
		margin-left: 1420px;
		margin-top: -270px;
	}
}

@media (max-width: 1280px) {
	#image {
		display: block;
		width: 200px;
		height: 200px;
		margin-top: 122px;
		margin-left: 450px;
	}
}

/*********responsividade 1024*********/

@media (max-width: 1024px) {
	.renatinha {
		width: 80px;
		height: 50px;
		position: absolute;
		margin-top: -21px;
		margin-right: 20px;
	}
}

@media (max-width: 1024px) {
	.navbar {
		margin-bottom: 60px;
		margin-top: 0;
		height: 60px;
		width: 2000px;
		max-width: 2000px;
	}
}

@media (max-width: 1024px) {
	.camponav {
		float: left;
	}
}

@media (max-width: 1024px) {

	#aba2,
	#aba {
		margin-top: -10px;
		margin-bottom: -30px;
	}
}

@media (max-width: 1024px) {
	#aba {
		margin-left: 50px;
	}
}

@media (max-width: 1024px) {
	#aba2 {
		margin-left: -130px;
		margin-right: 1200px;
	}
}

@media (max-width: 1024px) {
	#canto {
		width: 580px;
		height: 500px;
		margin-left: 1420px;
		margin-top: 654px;

	}
}

@media (max-width: 1024px) {
	#image {
		display: block;
		width: 200px;
		height: 200px;
		margin-top: 772px;
		margin-left: 580px;
	}
}

@media (max-width: 1024px) {
	.customers {
		margin-top: -600px;
		width: 956px;
		height: 504px;
	}
}

@media (max-width: 1024px) {
	#qntd {
		margin-top: -168vh;
		margin-left: 165px;
	}
}

@media (max-width: 1024px) {
	td {
		width: 937px;
		height: 66px;

	}
}

@media (max-width: 1024px) {
	#cabecalho {
		margin-left: 252px;
		padding-right: 101px;
		padding-left: 101px;

	}
}

@media (max-width: 1024px) {
	.campos {}
}