.fonte {
	font-family: 'Dosis', sans-serif;
}

#canto{
	width: 500px;
	height: 450px;
	margin-left: 1200px;
	margin-top: -220px
}

.renatinha {
	width: 80px;
	height: 50px;
	position: absolute;
	margin-top: -14px;
	margin-right: 20px;
	outline-color: #ffffff;
}

.navbar {
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #5ed4e3;
	margin-bottom: 60px;
	margin-top: 0;
	height: 60px;
	width: 1600px;
	max-width: 1600px;
}

.camponav {
	float: left;
}

.navbar a {
	font-size: 3vh;
	display: block;
	text-align: center;
	padding: 15px 20px;
	text-decoration: none;
	border-width: medium;
}

#aba1:hover,
#aba2:hover,
#aba3:hover {
	background-color: #E0FFFF;
}

#aba1,
#aba2,
#aba3 {
	color: #ff6ed0;
	background-color: #ffffff;
	border-radius: 80px 15px 15px 15px;
	padding-bottom: 0px;
	padding-right: 250px;
	padding-top: 0px;
	margin-top: 1px;
	margin-bottom: -30px;
}

#aba1 {
	margin-right: 50px;
}

#aba2 {
	margin-left: -130px;
	color: #004AAD;
	margin-right: 800px;
}

#aba3 {
	margin-left: 815px;
	color: #004AAD;
	margin-top: -32px;
}

#ctexto {
	text-align: center;

}

#distancia {
	margin-top: 100px;
}

.campos2 {
	margin-top: 36px;
	margin-bottom: 10px;
	outline-color: #ffffff;
	border-style: none;
	border-bottom: 8px solid;
	border-image: linear-gradient(90deg, #5ed4e3, #004AAD 100%)1;
	width: 500px;
	margin-right: 50px;
	margin-left: 80px;
}

.campos {
	margin-top: 36px;
	margin-bottom: 10px;
	outline-color: #ffffff;
	border-style: none;
	border-bottom: 8px solid;
	border-image: linear-gradient(90deg, #5ed4e3, #004AAD 100%)1;
	width: 500px;
	margin-right: 50px;
	margin-left: 80px;
}

.campos:focus {
	top: -1rem;
}

.radio {
	margin-right: -700px;
}

.rd {
	margin-left: 715px;
}

#numerores {
	outline-color: #ffffff;
	border-style: none;
	border-bottom: 8px solid;
	border-image: linear-gradient(90deg, #5ed4e3, #004AAD 100%)1;
	width: 250px;
	margin-right: 50px;
	margin-left: 80px;
}

.letrac {
	color: gray;
}

.letrah4 {
	margin-left: 80px;
}

.letrah3 {
	margin-top: -50px;
	margin-left: 715px;
}

.letrah2 {
	text-align: center;
	margin-right: 300px;
	position: relative;
}

.campos:focus::placeholder {
	position: absolute;
	margin-top: -2px;
	top: 0px;
	left: 0px;
	pointer-events: none;
	transition: .5s;
	font-size: 0.9em;
	color: #004AAD;
}

#numerores:focus::placeholder {
	position: absolute;
	margin-top: -2px;
	top: 0px;
	left: 0px;
	pointer-events: none;
	transition: .5s;
	font-size: 0.9em;
	color: #004AAD;
}

textarea {
	position: absolute;
	outline-color: #ffffff;
	width: 700px;
	height: 250px;
	border: 8px solid #004AAD;
	margin-left: 80px;
	border-radius: 50px;
	padding: 30px;
}


/****config do madal****/

.campos.ampli{
	font-size: 21px;
}
.campos2.ampli{
	font-size: 21px;
}

#idde.ampli{
	font-size: 21px;
	margin-top: 0px;
}

#rua.ampli{
	font-size: 21px;
}

#bairro.ampli{
	font-size: 21px;
}

#cidade.ampli{
	font-size: 21px;
	margin-top: 0px;
}

#numerores.ampli{
	font-size: 21px;
}

#canto.ampli{
	font-size: 21px;
	margin-top: -206px;
}

#textarea.ampli{
	font-size: 21px;
	border-radius: 50px;
	border-style: solid;
	padding: 30px;
}
.campos.dark , .campos2.dark{
	border-style: none;
	border-radius: 10px 50px;
	color: gray;
}

#idde.dark{
	border-style: none;
	border-radius: 10px 50px;
	color: gray;
}

#rua.dark{
	border-style: none;
	border-radius: 10px 50px;
	color: gray;
}

#bairro.dark{
	border-style: none;
	border-radius: 10px 50px;
	color: gray;
}

#cidade.dark{
	border-style: none;
	border-radius: 10px 50px;
	color: gray;
}

#numerores.dark{
border-style: none;
top: 3px;
border-radius: 10px 50px;
}

#numerores.dark:focus::placeholder{
color: gray;
}

#textarea.dark{
	font-size: 21px;
	border-radius: 50px;
	border-style: none;
	padding: 30px;

}

.campos.dark:focus::placeholder{
	font-size: 0.9em;
	color: gray;


}

#canto.dark{
	margin-top: -192px;
}
.checkbox{
  opacity: 0;
  position: absolute;
}

.checkbox2{
  opacity: 0;
  position: absolute;
}

.label2{
  background-color: #808080;
  border-radius: 50px;
  cursor: pointer;
  margin-top: -39px;
   margin-left: 234px;
  display: flex;
  align-items: center;

  padding: 5;
  position: relative;
  height: 26px;
  width: 50px;


}

.label{
  background-color: #808080;
  border-radius: 50px;
  cursor: pointer;
  margin-top: -39px;
   margin-left: 234px;
  display: flex;
  align-items: center;

  padding: 5;
  position: absolute;
  height: 26px;
  width: 50px;


}

.label .bola{
  background-color: #5ed4e3;
  border-radius: 50%;

  top: 2px;
  left: 2px;

  height: 22px;
  width: 22px;

  transform: translate(0px);
  transition: transform
  0.2s linear;
}

.label2 .bola2{
  background-color: #5ed4e3;
  border-radius: 50%;

  top: 2px;
  left: 2px;

  height: 22px;
  width: 22px;

  transform: translate(0px);
  transition: transform
  0.2s linear;
}

ul.dark{
	background: #232c35;
}

body.dark{
  background: #232c35;
  color: gray;

}


.fa-solid, .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 400;
    display: table;
    margin-left: -1px;
    margin-top: 21px;

    }

.fa-brands, .fab {
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
    margin-top: 30px;
}

.checkbox2:checked + .label2 .bola2{
  transform: translate(24px);
}

.checkbox:checked + .label .bola{
  transform: translate(24px);
}

#ampliar{
margin-right:615px;
}

#escuro{
margin-right:615px;
}

#Aparencia{
	margin-top: -36px;
    margin-left: 28px;
}


.container {
	position: relative;
	width: 50%;
	animation-name: example;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	float: right;
	margin-right: -580px;
	margin-top: -80px;
	z-index: 9999;
}

#image {
	display: block;
	width: 150px;
	height: 150px;
	margin-top: 5px;
}

.container:hover .overlay {
	height: 100px;
}

.text {
	white-space: nowrap;
	color: white;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 50px;
	left: 50px;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}



@keyframes example {
	from {
		top: 0px;
	}

	to {
		top: 200px;
	}
}

.w3-container {
	border-style: none;
	font-size: 25px;

}

.city {
	display: none
}

/*********responsividade 1366*********/

@media (max-width: 1366px) {
	.renatinha {
		width: 80px;
		height: 50px;
		position: absolute;
		margin-top: -15px;
		margin-right: 20px;
	}
}

@media (max-width: 1366px) {
	.navbar {
		margin-bottom: 60px;
		margin-top: 0;
		height: 60px;
		width: 1945px;
		max-width: 2000px;
	}
}

@media (max-width: 1366px) {
	.camponav {
		float: left;
	}
}

@media (max-width: 1366px) {

	#aba2,
	#aba1 {
		margin-top: 0px;
		margin-bottom: -30px;
	}
}

@media (max-width: 1366px) {
	#aba1 {
		margin-left: 0px;
	}
}

@media (max-width: 1366px) {
	#aba2 {
		margin-left: -130px;
		margin-right: 1145px;
	}
}

@media (max-width: 1920px) {
	#aba3 {
		margin-top: -32px;
		margin-bottom: -30px;
		margin-left: 815px;
	}
}

@media (max-width: 1366px) {
	#distancia {
		margin-top: 120px;
	}
}

@media (max-width: 1366px) {
	.campos2 {
		width: 600px;
		margin-right: -230px;
	}
}

@media (max-width: 1366px) {
	.campos {
		width: 600px;
		margin-bottom: 10px;
		margin-left: 80px;
		margin-right: 30px;
	}
}

@media (max-width: 1366px) {
	.radio {
		margin-right: -780px;
	}
}

@media (max-width: 1366px) {
	.rd {
		margin-left: 800px;
	}
}

@media (max-width: 1366px) {
	.na {
		margin-right: 0px;
	}
}

@media (max-width: 1366px) {
	#numerores {
		width: 300px;
	}
}

@media (max-width: 1366px) {
	.idade {
		margin-left: 80px;
		margin-top: 60px;
	}
}

@media (max-width: 1366px) {
	.cidade {
		margin-left: 80px;
		margin-top: 60px;
	}
}

@media (max-width: 1366px) {
	.nome2 {
		margin-right: 0px;
	}
}

@media (max-width: 1366px) {
	.letrah4 {
		margin-left: 80px;
		margin-top: 30px;
	}
}

@media (max-width: 1366px) {
	.letrah2 {
		margin-right: -120px;
		margin-top: 30px;
	}
}

@media (max-width: 1366px) {
	.letrah3 {
		margin-top: -60px;
		font-size: 30px;
		margin-left: 800px;
	}
}

@media (max-width: 1366px) {
	textarea {
		width: 825px;
		height: 350px;
		margin-left: 80px;
	}
}

@media (max-width: 1366px) {
	#canto {
		width: 580px;
		height: 500px;
		margin-left: 1367px;
		margin-top: -270px;
	}
}

@media (max-width: 1366px) {
	#image {
		display: block;
		width: 200px;
		height: 200px;
		margin-top: 150px;
		margin-left: 385px;
	}
}

/*********responsividade 1280*********/

@media (max-width: 1280px) {
	.renatinha {
		width: 80px;
		height: 50px;
		position: absolute;
		margin-top: -15px;
		margin-right: 20px;
	}
}

@media (max-width: 1280px) {
	.navbar {
		margin-bottom: 60px;
		margin-top: 0;
		height: 60px;
		width: 2000px;
		max-width: 2000px;
	}
}

@media (max-width: 1280px) {
	.camponav {
		float: left;
	}
}

@media (max-width: 1280px) {

	#aba2,
	#aba {
		margin-top: 0px;
		margin-bottom: -30px;
	}
}

@media (max-width: 1280px) {
	#aba {
		margin-left: 50px;
	}
}

@media (max-width: 1280px) {
	#aba2 {
		margin-left: -130px;
		margin-right: 1205px;
	}
}

@media (max-width: 1280px) {
	#distancia {
		margin-top: 130px;
	}
}

@media (max-width: 1280px) {
	.campos2 {
		width: 600px;
		margin-right: -230px;
	}
}

@media (max-width: 1280px) {
	.campos {
		width: 600px;
		margin-bottom: 10px;
		margin-left: 80px;
		margin-right: 30px;
	}
}

@media (max-width: 1280px) {
	.radio {
		margin-right: -780px;
	}
}

@media (max-width: 1280px) {
	.rd {
		margin-left: 800px;
	}
}

@media (max-width: 1280px) {
	.na {
		margin-right: 0px;
	}
}

@media (max-width: 1280px) {
	#numerores {
		width: 300px;
	}
}

@media (max-width: 1280px) {
	.idade {
		margin-left: 80px;
		margin-top: 70px;
	}
}

@media (max-width: 1280px) {
	.cidade {
		margin-left: 80px;
		margin-top: 60px;
	}
}

@media (max-width: 1280px) {
	.nome2 {
		margin-right: 0px;
	}
}

@media (max-width: 1280px) {
	.letrah4 {
		margin-left: 80px;
		margin-top: 40px;
	}
}

@media (max-width: 1280px) {
	.letrah2 {
		margin-right: -120px;
		margin-top: 30px;
	}
}

@media (max-width: 1280px) {
	.letrah3 {
		margin-top: -50px;
		margin-left: 800px;
	}
}

@media (max-width: 1280px) {
	textarea {
		width: 800px;
		height: 350px;
		margin-left: 80px;
	}
}

@media (max-width: 1280px) {
	#canto {
		width: 580px;
		height: 502px;
		margin-left: 1420px;
		margin-top: -270px;
	}
}

@media (max-width: 1280px) {
	#image {
		display: block;
		width: 200px;
		height: 200px;
		margin-top: 137px;
		margin-left: 450px;
	}
}

/*********responsividade 1024*********/

@media (max-width: 1024px) {
	.renatinha {
		width: 80px;
		height: 50px;
		position: absolute;
		margin-top: -15px;
		margin-right: 20px;
	}
}

@media (max-width: 1024px) {
	.navbar {
		margin-bottom: 60px;
		margin-top: 0;
		height: 60px;
		width: 2270px;
		max-width: 3000px;
	}
}

@media (max-width: 1024px) {
	.camponav {
		float: left;
	}
}

@media (max-width: 1024px) {

	#aba2,
	#aba {
		margin-top: 0px;
		margin-bottom: -30px;
	}
}

@media (max-width: 1024px) {
	#aba {
		margin-left: 50px;
	}

}

@media (max-width: 1024px) {
	#aba2 {
		margin-left: -130px;
		margin-right: 1470px;
	}
}

@media (max-width: 1024px) {
	#distancia {
		margin-top: 160px;
	}
}

@media (max-width: 1024px) {
	.campos2 {
		width: 630px;
		margin-right: -573px
	}
}

@media (max-width: 1024px) {
	.campos {
		width: 630px;
		margin-bottom: 10px;
		margin-left: 120px;
		margin-right: 50px;
		margin-top: 70px;
	}
}

@media (max-width: 1024px) {
	.radio {
		margin-right: -855px;
		;
	}
}

@media (max-width: 1024px) {
	.rd {
		margin-left: 885px;
	}
}

@media (max-width: 1024px) {
	.na {
		margin-right: 0px;
	}
}

@media (max-width: 1024px) {
	#numerores {
		width: 315px;
		margin-left: 85px;
		margin-right: -185px;
	}
}

@media (max-width: 1024px) {
	.idade {
		margin-left: 120px;
		margin-top: 90px;
	}
}

@media (max-width: 1024px) {
	.cidade {
		margin-left: 120px;
		margin-top: 90px;
	}
}

@media (max-width: 1024px) {
	.nome2 {
		margin-right: 0px;
	}
}

@media (max-width: 1024px) {
	.letrah4 {
		margin-left: 120px;
		margin-top: 90px;
	}
}

@media (max-width: 1024px) {
	.letrah2 {
		margin-right: -615px;
		margin-top: 70px;
	}
}

@media (max-width: 1024px) {
	.letrah3 {
		margin-top: -50px;
		margin-left: 885px;
		font-size: 22px;
		margin-right: -95px;
	}
}

@media (max-width: 1024px) {
	textarea {
		width: 900px;
		height: 400px;
		margin-left: 120px;
	}
}

@media (max-width: 1024px) {
	#canto {
		width: 580px;
		height: 500px;
		margin-left: 1690px;
		margin-top: 361px;
	}

	@media (max-width: 1024px) {
		#image {
			display: block;
			width: 200px;
			height: 200px;
			margin-top: 500px;
			margin-left: 820px;
		}
	}

	@media (max-width: 1024px) {

		h2,
		h4 {
			font-size: 30px;
		}
	}
}
